NEXT_PUBLIC_APP_URL=https://www.capacitormanager.com.br
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=

MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
MP_PLAN_BASICO=
MP_PLAN_ESSENCIAL=
MP_PLAN_PRO=
MP_PLAN_MASTER=

RATE_LIMIT_SALT=
DEEPSEEK_API_KEY=

RESEND_API_KEY=
CONTACT_FROM_EMAIL=
CONTACT_TO_EMAIL=
