@import "tailwindcss";

@theme {
  --color-primary: #0a2b3c;
  --color-secondary: #f39c12;
  --color-success: #2ecc71;
  --color-error: #e74c3c;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
